/* Mobile Width */

/* Mobile Category Color Line for Category */
/*
body .category-list-item.category tr:first-of-type {
  border-bottom: 1px solid var(--darkreader-border--primary-low);
  border-left: 7px solid #0081c2;
}
*/
/* Mobile Category Groups */

// see https://github.com/discourse/discourse/blob/main/app/assets/javascripts/discourse/app/templates/mobile/components/parent-category-row.hbs

/* Re-order Subforum Location on Main Page */

.category-list .category-list-item {
  padding: 0;
  border: 1px solid var(--primary-low);
  margin-bottom: 10px;
  tbody {
    display: flex;
    flex-direction: column;
    tr:first-child {
      // this is category title section
      order: 0;
      padding: 10px 0;
      border-bottom: 1px solid var(--primary-low);
      th {
        padding: 0;
        h3,
        h4 {
          border-left: 6px solid var(--category-color);
        }
      }
    }

    .category-description {
      order: 1;
      display: flex !important;
      flex-direction: column;
    }

    .subcategories-list {
      order: 2;
    }

    .category-topic-link {
      order: 3;
      border-bottom: unset;
      display: flex;
      flex-flow: row;
      padding: 5px 2px 0px;

      .avatar {
        max-width: 24px;
        max-height: 24px;
        margin: 5px 10px 5px 5px;
        img {
          vertical-align: top;
        }
      }
      .title {
        width: 70%;
        display: inline-block;
        font-size: var(--font-down-1);
        padding: 0;
        margin: auto 0;
      }
      .last-posted-at {
        font-size: var(--font-down-1);
        margin-left: auto;
      }
      .topic-statuses {
        display: inline-block;
        padding: 0;
        margin: auto 0;
      }

      &:last-of-type {
        border-bottom: 1px solid var(--primary-low);
      }
    }
  }
}

body .category-list-item.category .posts {
  width: auto;
  margin-left: auto;
}

body .category-list-item > footer,
body .subcategory-list-item > footer {
  background-color: var(--primary-very-low);
}

.category-list-item > footer .category-stat,
.subcategory-list-item > footer .category-stat {
  float: right;
}

.category-list-item > footer .category-stat:first-child,
.subcategory-list-item > footer .category-stat:first-child {
  margin-right: 0;
}

.category-list-item > footer,
.subcategory-list-item > footer {
  border-top: none;
}

span.relative-date {
  white-space: nowrap;
  margin: 3px;
  float: right;
}

// DiscoTOC doesn't properly respective mobile
.container.posts {
  grid-template-columns: auto;
}
