$bga: rgba(28,42,53,0.74);
$bg: rgb(28,42,53);


#fad-cookie .fa-primary {
  color: #8C4932;
}

#fad-cookie .fa-secondary {
  color: #DCA285;
}

.background-container {
  @if is-dark-color-scheme() {
  background-image: url($linen);
  background-color: #213442;
  }
}

#main-outlet, .user-content, .boxed.white, .badge-card, .user-stream .item, .user-stream .user-stream-item, .user-main .about.collapsed-info .details, .user-main .about .details {
  @if is-dark-color-scheme() {
    background: $bga;
  }
}

.menu-panel, .d-header {
  @if is-dark-color-scheme() {
    background: $bg;
  }
}


@media screen and (min-width: 1260px) {
.topic-body{
    width:  75%;
}

.timeline-container .topic-timeline {
    margin-left: 27em;
}

.topic-avatar {
    margin-left: -45px;
}

#main-outlet {
    max-width: 1600px;
}

.d-header .panel {
    margin-left: 1060px;
}
}
