#fad-cookie .fa-primary {
  color: #8C4932;
}

#fad-cookie .fa-secondary {
  color: #DCA285;
}

.background-container {
  @is-dark-color-scheme() {
  background-image: url($linen) !important;
  background-color: #1a262f;
  }
}
