#fad-cookie .fa-primary {
  color: #8C4932;
}

#fad-cookie .fa-secondary {
  color: #DCA285;
}

[data-id="31"] .background-container {
  background-image: url($linen) !important;
  background-color: red !important;
}
