body .category-list [data-category-id="3"],
body .category-list [data-category-id="4"],
body .category-list [data-category-id="9"],
body .category-list [data-category-id="12"],
body .category-list [data-category-id="18"],
body .category-list [data-category-id="26"] {
  position: relative;
  margin-top: 50px;
}
body .category-list [data-category-id="3"]::before {
  content: "The Secret Passage";
}
body .category-list [data-category-id="4"]::before {
  content: "RpNation";
}
body .category-list [data-category-id="10"]::before {
  content: "Creativity";
}

body .category-list [data-category-id="12"]::before {
  content: "Discussion";
}

body .category-list [data-category-id="18"]::before {
  content: "Recruitment";
}

body .category-list [data-category-id="26"]::before {
  content: "Roleplays";
}

body [data-category-id="3"]::before,
body [data-category-id="4"]::before,
body [data-category-id="9"]::before,
body [data-category-id="12"]::before,
body [data-category-id="18"]::before,
body [data-category-id="26"]::before {
  position: absolute;
  top: -35px;
  left: 0;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--primary-medium);
}
