@import "common/foundation/variables";
.wrap {
  max-width: 1400px;
  width: 80vw !important;
}

.topic-post .row {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
  .topic-body {
    flex: 1;
    width: calc(80vw - 235px - 45px);
    max-width: 1150px;
    margin-right: 25px;
  }
}

@media screen and (min-width: $large-width) {
  .d-toc-article {
    & > .row {
      border-width: 0 !important;
    }
    & > .d-toc {
      max-width: 175px !important;
      margin-right: calc(-1 * (175px + 2.5em + 10px));
      margin-left: 0 !important;
      z-index: 900;
      border-left: 1px solid var(--primary-med-or-secondary-high, #e8e7ee);
      & > .d-toc-heading {
        margin-left: -1px;
      }
    }
  }
}

.cloaked-post {
  width: calc(80vw - 400px);
  max-width: 1190px;
}
