.category-list tbody tr {
  margin-bottom: 15px;
  border: 1px solid var(--primary-low);
}

/* Category Groups */
.category-list {
  display: flex;
  flex-direction: column;
  thead tr {
    display: flex;
  }
  .topics {
    width: 60px;
    white-space: nowrap;
  }
  tbody .latest {
    max-width: 40%;
  }
  tbody tr {
    background-color: var(--primary-very-low);
    box-sizing: border-box;
    display: flex;
  }
}
